<h1>Test</h1>
<div>
    <label>question number 1:What color does a banana have?</label>
    <br>
    <label>answers:</label>
    <br>
    <ul>
        <li appAccount number="-1">1)blue</li>
        <li appAccount number="1">2)yellow</li>
        <li appAccount number="-1">3)green</li>
        <li appAccount number="-1">4)red</li>
    </ul>
</div>
<br>
<br>
<br>
<br>
<div>
    <label>question number 2:What color the sun have?</label>
    <br>
    <label>answers:</label>
    <br>
    <ul>
        <li appAccount number="-1">1)blue</li>
        <li appAccount number="1">2)yellow</li>
        <li appAccount number="-1">3)green</li>
        <li appAccount number="-1">4)red</li>
    </ul>
</div>
<br>
<br>
<br>
<br>
<div>
    <label>question number 3:What color the cucumber have?</label>
    <br>
    <label>answers:</label>
    <br>
    <ul>
        <li appAccount  number="-1">1)blue</li>
        <li appAccount  number="-1">2)yellow</li>
        <li appAccount  number="1">3)green</li>
        <li appAccount  number="-1">4)red</li>
    </ul>
</div>
<br>
<br>
<br>
<br>
<div>
    <label>question number 4:What color the sea have?</label>
    <br>
    <label>answers:</label>
    <br>
    <ul>
        <li appAccount  number="1">1)blue</li>
        <li appAccount  number="-1">2)yellow</li>
        <li appAccount  number="-1">3)green</li>
        <li appAccount  number="-1">4)red</li>
    </ul>
</div>
<br>
<br>
<br>
<br>
<div>
    <label>question number 5:What color the apple have?</label>
    <br>
    <label>answers:</label>
    <br>
    <ul>
        <li appAccount  number="-1">1)blue</li>
        <li appAccount  number="-1">2)yellow</li>
        <li appAccount  number="-1">3)green</li>
        <li appAccount  number="1">4)red</li>
    </ul>
</div>
<br>
<br>
<br>
<br>
<div>
    <label>question number 6:What color the grass have?</label>
    <br>
    <label>answers:</label>
    <br>
    <ul>
        <li appAccount  number="-1">1)blue</li>
        <li appAccount  number="-1">2)yellow</li>
        <li appAccount  number="1">3)green</li>
        <li appAccount  number="-1">4)red</li>
    </ul>
</div>
<br>
<br>
<br>
<br>
<div>
    <label>question number 7:What color the sky have?</label>
    <br>
    <label>answers:</label>
    <br>
    <ul>
        <li appAccount  number="1">1)blue</li>
        <li appAccount  number="-1">2)yellow</li>
        <li appAccount  number="-1">3)green</li>
        <li appAccount  number="-1">4)red</li>
    </ul>
</div>
<br>
<br>
<br>
<br>
<div>
    <label>question number 8:What color the blood have?</label>
    <br>
    <label>answers:</label>
    <br>
    <ul>
        <li appAccount  number="-1">1)blue</li>
        <li appAccount  number="-1">2)yellow</li>
        <li appAccount  number="-1">3)green</li>
        <li appAccount  number="1">4)red</li>
    </ul>
</div>
<br>
<br>
<br>
<br>
<div>
    <label>question number 9:What color the wine have?</label>
    <br>
    <label>answers:</label>
    <br>
    <ul>
        <li appAccount  number="-1" >1)blue</li>
        <li appAccount  number="-1">2)yellow</li>
        <li appAccount  number="-1">3)green</li>
        <li appAccount  number="1">4)red</li>
    </ul>
</div>
<br>
<br>
<br>
<br>
<div>
    <label>question number 1-1:What color the watermelon have?</label>
    <br>
    <label>answers:</label>
    <br>
    <ul>
        <li appAccount  number="-1">1)blue</li>
        <li appAccount  number="-1">2)yellow</li>
        <li appAccount  number="1">3)green</li>
        <li appAccount  number="-1">4)red</li>
    </ul>
</div>
<br>
<br>
<br>
<br>